<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examius</title>
    <link rel="stylesheet" href="/css/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Girassol&display=swap"
        rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="auth">
            <form th:method="POST" th:action="@{/logout}" class="logout-form">
                <input type="image" src="/img/user.png" alt="Logout">
            </form>
        </div>

        <a th:href="@{/index}" class="logo">Examius</a>

        <div class="menu">
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="menu-list">
                <li>
                    <a th:href="@{/summarize}" class="menu-item">Сгенерувати конспект</a>
                </li>
                <li>
                    <a th:href="@{/exam}" class="menu-item">Імітація тесту</a>
                </li>
                <li>
                    <a th:href="@{/resources}" class="menu-item">Корисні матеріали</a>
                </li>
                <li>
                    <a href="#" class="menu-item">Новини університету</a>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <!-- <div class="blobs">
            <div class="first-blob">
                <img src="img/blob-first.png" alt="">
            </div>
            <div class="second-blob">
                <img src="img/blob-second.png" alt="">
            </div>
            <div class="second-blob">
                <img src="img/blob-third.png" alt="">
            </div>
            <div class="second-blob">
                <img src="img/blob-fourth.png" alt="">
            </div>
            <div class="second-blob">
                <img src="img/blob-fifth.png" alt="">
            </div> -->
        </div>

        <div class="main-first">
            <div class="main-first-fir">
                <h1>Examius</h1>
                <p>Наш сервіс призначений для студентів, які прагнуть удосконалити свої знання та ефективно підготуватися до іспитів. Він об'єднує в собі передові технології штучного інтелекту та зручні інструменти навчання, щоб зробити процес підготовки
                    більш структурованим, інтерактивним і <span>продуктивним.</span></p>
            </div>

            <div class="main-first-sec">
                <img src="/img/main-first.png" alt="" width="350px">
            </div>
        </div>

        <div class="bottom-line"></div>
        <!--------------------------->

        <div class="main-second">
            <div class="main-second-fir">
                <img src="/img/main-sec.png" alt="" width="230px">
            </div>
            <div class="main-second-sec">
                <h1>
                    Генерація конспектів лекцій на основі ШІ
                </h1>

                <div class="line-text">
                    <div class="line"></div>
                    <p>ШІ-модель аналізує текст лекції та створює короткий, структурований конспект, виділяючи основні тези, формули та ключові моменти.</p>
                </div>

                <div class="sec-button">
                    <a th:href="@{/summarize}">СПРОБУВАТИ</a>
                </div>
            </div>
        </div>

        <div class="bottom-line"></div>
        <!--------------------------->

        <div class="main-third">
            <div class="main-third-fir">
                <h1>
                    Інтерактивний симулятор іспиту
                </h1>

                <div class="line-text">
                    <div class="line"></div>
                    <p>Додаток повністю імітує реальний іспитовий процес: випадковий вибір білетів, встановлений таймер, введення відповідей і автоматична перевірка.</p>
                </div>

                <div class="thi-button">
                    <a th:href="@{/exam}">LET'S TRY</a>
                </div>
            </div>

            <div class="main-third-sec">
                <img src="/img/main-third.png" alt="" width="290px">
            </div>
        </div>

        <div class="bottom-line"></div>
        <!--------------------------->

        <div class="main-fourth">
            <div class="main-fourth-fir">
                <img src="/img/main-fourth.png" alt="" width="250px">
            </div>

            <div class="main-fourth-sec">
                <h1>
                    Бібліотека матеріалів
                </h1>

                <div class="line-text">
                    <p>Зібрані корисні ресурси допоможуть студентам у написанні тез, листів, дипломних робіт. Містить структуровані конспекти, а також ресурси для самостійного опанування дисциплін.</p>
                    <div class="line"></div>
                </div>

                <div class="fou-button">
                    <a th:href="@{/resources}">ПОБАЧИТИ</a>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <a th:href="@{/index}" class="logo-foot">Examius</a>

        <div class="footer-buttons">
            <a>Є питання</a>
            <a>Підтримати проєкт</a>
        </div>


        <p>&copy; Прокачуй свої знання.</p>
    </footer>

    <script src="/js/script.js"></script>

</body>

</html>