<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/font-icons.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Список предметів</title>
</head>
<body>
<!--<section class="first-section">-->

<!--    <div class="wrapper">-->
<!--        <div th:replace="fragments/header :: header"></div>-->
<!--    </div>-->
<!--</section>-->

<h1>Виберіть предмет для тестування</h1>
<ul>
    <li th:each="subject : ${subjects}">
        <span th:text="${subject.name}"></span>
        <form th:action="@{/exam/start}" method="post" style="display:inline;">
            <input type="hidden" name="subjectId" th:value="${subject.id}"/>
            <button type="submit">Розпочати тестування</button>
        </form>
    </li>
</ul>
</body>
</html>
