<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Симулятор іспиту | Білети</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/test.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Alegreya+Sans+SC:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Girassol&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="auth">
            <form th:method="POST" th:action="@{/logout}" class="logout-form">
                <input type="image" src="/img/user.png" alt="Logout">
            </form>
        </div>

        <a th:href="@{/index}" class="logo">Examius</a>

        <div class="menu">
            <input type="checkbox" id="burger-checkbox" class="burger-checkbox">
            <label for="burger-checkbox" class="burger"></label>
            <ul class="menu-list">
                <li>
                    <a th:href="@{/summarize}" class="menu-item">Сгенерувати конспект</a>
                </li>
                <li>
                    <a th:href="@{/exam}" class="menu-item">Імітація тесту</a>
                </li>
                <li>
                    <a th:href="@{/resources}" class="menu-item">Корисні матеріали</a>
                </li>
                <li>
                    <a th:href="@{/news}" class="menu-item">Новини університету</a>
                </li>
            </ul>
        </div>
    </div>

    <main>
        <h1 id="ticket-number">Білет: <span id="ticket-id" th:text="${ticket.name}"></span></h1>

        <div id="timer" class="timer">01:00:00</div>

        <form id="examForm" th:action="@{/exam/submit}" method="post">
            <div th:each="question, iterStat : ${questions}" class="question" th:id="'question-' + ${iterStat.index}" th:style="${iterStat.index == 0} ? 'display: block;' : 'display: none;'">
                <div id="question-container">
                    <div class="question-text" th:text="${question.questionText}">Питання</div>
                    <div th:each="option : ${question.answerOptions}">
                        <label class="custom-checkbox">
                            <span th:text="${option.optionText}">Відповідь</span>
                            <input type="radio" th:name="${'question_' + question.id}" th:value="${option.id}" required>
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="nav-buttons">
                <a href="#" id="prev" onclick="prevQuestion()">назад</a>
                <a href="#" id="next" onclick="nextQuestion()">далі</a>
                <a href="#" id="finish" onclick="document.getElementById('examForm').submit();" style="display: none;">завершити</a>
            </div>
        </form>
    </main>

    <footer>
        <a th:href="@{/index}" class="logo-foot">Examius</a>

        <div class="footer-buttons">
            <a href="https://нахуй.com.ua/">Є питання</a>
            <a>Підтримати проєкт</a>
        </div>

        <p>&copy; Прокачуй свої знання.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>

</html>