<header class="header" th:fragment="header">
    <div class="top-menu">
        <div class="top-left">
            <img src="/img/full-logo.png" alt="full-logo">
        </div>

        <div class="top-right">
            <div class="e-mail">
                <div class="circle">
                    <img src="/img/e-mail.png" alt="e-mail" width="14px">
                </div>

                <a href="#">info@examius.com</a>
            </div>

            <div class="change-language">
                <div class="circle">
                    <img th:src="@{${#locale.language == 'ua' ? '/img/ua-country.png' : '/img/eng-country.png'}}"
                         alt="flag" width="14px">
                </div>

                <div class="lang-title">
                    <ul class="langs-list">
                        <li>
                            <div class="dropdown">
                                <a href="#" class="lang-link"
                                   th:text="${#locale.language == 'ua' ? #messages.msg('lang_ua') : #messages.msg('lang_en')}">English</a>
                                <i class="fa-solid fa-sort-down"></i>
                            </div>

                            <ul class="sub-lang_list">
                                <li>
                                    <a href="?lang=en" class="sub-lang-link"
                                       th:text="#{lang_en}">English</a>
                                    <img src="/img/eng-country.png" alt="eng-flag"
                                         width="16px">
                                </li>
                                <li>
                                    <a href="?lang=ua" class="sub-lang-link"
                                       th:text="#{lang_ua}">Ukrainian</a>
                                    <img src="/img/ua-country.png" alt="ua-flag"
                                         width="16px">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <form th:method="POST" th:action="@{/logout}" class="logout-form">
                <input type="submit" th:value="#{logout}">
            </form>
        </div>
    </div>

    <div class="bottom-menu">
        <nav>
            <ul class="menu-list">
                <li>
                    <a th:href="@{/index}" class="menu-link" th:text="#{home}">Головна</a>
                </li>
                <li>
                    <div class="dropdown">
                        <a href="#" class="menu-link" th:text="#{useful_resources}">Корисні
                            матеріали</a>
                        <i class="fa-solid fa-sort-down"></i>
                    </div>

                    <ul class="sub-menu-list">
                        <li class="sub-menu-link">
                            <a th:href="@{/resources/thesis}" th:text="#{thesis}">Тези</a>
                        </li>
                        <li class="sub-menu-link">
                            <a th:href="@{/resources/archive}" th:text="#{archive}">Архів
                                робіт</a>
                        </li>
                        <li class="sub-menu-link">
                            <a th:href="@{/resources/useful}" th:text="#{useful_links}">Цікаві
                                посилання</a>
                        </li>
                        <li class="sub-menu-link">
                            <a th:href="@{/resources/notes}" th:text="#{notes}">Готові
                                конспекти</a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a th:href="@{/exam}" class="menu-link"
                       th:text="#{exam}">Тестування</a>
                </li>

                <li>
                    <a th:href="@{/summarize}" class="menu-link" th:text="#{summarize}">Конспект
                        лекцій</a>
                </li>


                <li>
                    <a href="#" class="menu-link" th:text="#{contact_us}">Contact Us</a>
                </li>

            </ul>
        </nav>

        <div class="social">
            <a href="#">
                <img src="/img/fb.png" alt="facebook" width="22px">
            </a>
            <a href="#">
                <img src="/img/tw.png" alt="twitter" width="22px">
            </a>
            <a href="#">
                <img src="/img/yt.png" alt="youtube" width="22px">
            </a>
        </div>
    </div>
</header>