<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/font-icons.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Archive</title>
</head>
<body>
<section class="first-section">

    <div class="wrapper">
        <div th:replace="fragments/header :: header"></div>
    </div>
</section>

<div th:replace="fragments/link_fragment :: linkListFragment('Корисні посилання на архіви робіт', ${links})"></div>

</body>
</html>