<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resources</title>
</head>
<body>
<ul>
    <li>
        <a th:href="@{/resources/thesis}" th:text="#{thesis}">Тези</a>
    </li>
    <li>
        <a th:href="@{/resources/archive}" th:text="#{archive}">Архів
            робіт</a>
    </li>
    <li>
        <a th:href="@{/resources/useful}" th:text="#{useful_links}">Цікаві
            посилання</a>
    </li>
    <li>
        <a th:href="@{/resources/notes}" th:text="#{notes}">Готові
            конспекти</a>
    </li>
</ul>
</body>
</html>